* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
  height: 150px;
  transition: all 0.8s;
}

header .wrap {
  align-items: stretch;
  display: flex;
  position: relative;
  max-width: unset;
  justify-content: space-between;
  height: 100%;
}

.outerWrap {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-image: url(../assets/img/bg.png);
}
